!---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Deconstructed Pancake</title>
  </head>
  <body>
    <div class="parent">
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">3</div>
    </div>
  </body>
</html>

<style>
  .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    flex: 1 1 150px; /* Stretching */
    flex: 0 1 150px; /* No stretching */
    margin: 5px;

    background-color: goldenrod;
    border-radius: 5px;
    height: 150px;
  }
</style>