---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>10 single-line CSS layouts</title>
  </head>
  <body>
    <p>Author: <a href="https://twitter.com/una">Una</a></p>
    <p>
      Video: <a href="https://www.youtube.com/watch?v=qm0IfG1GyZU">Youtube</a>
    </p>
    <p>Examples: <a href="https://1linelayouts.glitch.me/">Glitch</a></p>
    <p></p>
    <ol>
      <li><a href="./grid-center">Super Centered</a></li>
      <li><a href="./deconstructed-pancake">The Deconstructed Pancake</a></li>
      <li><a href="./sidebar-says">Sidebar Says</a></li>
      <li><a href="./pancake-stack">Pancake Stack</a></li>
      <li><a href="./holy-grail">Classic Holy Grail</a></li>
      <li><a href="./12-span-grid">12 span grid</a></li>
      <li><a href="./repeat-auto-minmax">RAM (Repeat, Auto, Minmax)</a></li>
      <li><a href="./baseball-cards">Line Up</a></li>
      <li><a href="./clamping-my-style">Clamping My Style</a></li>
      <li><a href="./respect-for-aspect">Respect for Aspect</a></li>
    </ol>
  </body>
</html>
