---
---

<header>
  <h1>Title</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    alias pariatur natus, fugit ut nihil iste et voluptatum consequuntur libero
    distinctio, asperiores sequi, minima veniam! Illum sapiente atque molestiae
    exercitationem.
  </p>
</header>

<style>
  body,
  h1 {
    margin: 0;
  }
  header {
    background-color: dodgerblue;

    /* Equivalent to max-width */
    max-inline-size: 64rem;
    /* Equivalent to margin-right, margin-left */
    margin-inline: auto;
    /* Equivalent to height: 100vh */
    block-size: 100dvh;
  }
</style>
