---
---

<header>
  <img
    class="hero-img"
    src="./Hero/matt-paul-catalano-0QEG_xOoY7Y-unsplash.jpeg"
    alt=""
  />
  <h1>Title</h1>
  <h2>Sub-title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    alias pariatur natus, fugit ut nihil iste et voluptatum consequuntur libero
    distinctio, asperiores sequi, minima veniam! Illum sapiente atque molestiae
    exercitationem.
  </p>
</header>

<style>
  body,
  h1 {
    margin: 0;
  }
  header {
    background-color: dodgerblue;

    /* Equivalent to max-width */
    max-inline-size: 64rem;
    /* Equivalent to margin-right, margin-left */
    margin-inline: auto;
    /* Equivalent to height: 100vh */
    block-size: 100dvh;
  }

  .hero-img {
    width: 100vw;
    height: calc(100dvh - 40px);
    object-fit: cover;
  }
</style>
