---
// Supports weights 100-900
import "@fontsource-variable/lexend-deca";
import "@fontsource-variable/big-shoulders-display";
import icon_sedans from "./icons/icon-sedans.svg";
import icon_suvs from "./icons/icon-suvs.svg";
import icon_luxury from "./icons/icon-luxury.svg";
---

<div class="container">
  <div class="card">
    <img src={icon_sedans} alt="An icon of a sedan" />
    <h3 class="title">Sedans</h3>
    <p class="description">
      Choose a sedan for its affordability and excellent fuel economy. Ideal for
      crusing in the city or on your next road trip.
    </p>
    <a href="#" class="learn-more">Learn More</a>
  </div>
  <div class="card">
    <img src={icon_suvs} alt="An icon of a SUV" />
    <h3 class="title">Suvs</h3>
    <p class="description">
      Take an SUV for its spacious interior, power, and versatility. Perfect for
      your next family vacation and off-road adventures.
    </p>
    <a href="#" class="learn-more">Learn More</a>
  </div>
  <div class="card">
    <img src={icon_luxury} alt="An icon of a luxury car" />
    <h3 class="title">Luxury</h3>
    <p class="description">
      Cruise in the best car brands without the bloated prices. Enjoy th
      enhanced comfort of a luxury rental and arrive in style.
    </p>
    <a href="#" class="learn-more">Learn More</a>
  </div>
</div>

<style>
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* paragraphs */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /* backgrounds, headings, buttons */
    --light-gray: hsl(0, 0%, 95%);
    --bright-orange: hsl(31 77% 52%);
    --dark-cyan: hsl(184 100% 22%);
    --very-dark-cyan: hsl(179 100% 13%);
    background-color: grey;
  }
  .container {
    height: auto;
    max-width: calc(280px * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    font-family: "Lexend Deca Variable", sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    color: var(--transparent-white);
    gap: 1.4rem;
  }

  .card img {
    width: 5.5rem;
    margin-bottom: 1.5rem;
  }
  .card:nth-child(1) {
    background-color: var(--bright-orange);
    border-radius: 1rem 0 0 1rem;
  }
  .card:nth-child(2) {
    background-color: var(--dark-cyan);
  }
  .card:nth-child(3) {
    background-color: var(--very-dark-cyan);
    border-radius: 0 1rem 1rem 0;
  }

  .title {
    font-family: "Big Shoulders Display Variable", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--light-gray);
    text-transform: uppercase;
    margin: 0;
  }

  .description {
    line-height: 2.3rem;
    margin-bottom: 7rem;
  }

  .learn-more {
    display: inline;
    width: fit-content;
    padding: 0.9em 2.1em;
    text-decoration: none;
    border: 2px solid var(--transparent-white);
    background-color: var(--transparent-white);
    border-radius: 25px;
  }

  .card:nth-child(1) .learn-more {
    color: var(--bright-orange);
  }
  .card:nth-child(2) .learn-more {
    color: var(--dark-cyan);
  }
  .card:nth-child(3) .learn-more {
    color: var(--very-dark-cyan);
  }
  .learn-more:hover {
    /* specificity battle with .card:nth-child, less code this way, not crazy about it though */
    color: var(--transparent-white) !important;
    background-color: transparent;
  }
</style>
