---
import AnimatedGlowingBorder from "../components/buttons/AnimatedGlowingBorder.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Button Gallery</title>
  </head>
  <body>
    <div class="container">
      <div class="animated-glowing-border">
        <p>
          <a href="https://www.youtube.com/watch?v=fcnDBP3k3BE"
            >Animated Glowing Border</a
          > by <a href="https://www.youtube.com/@KevinPowell">Kevin Powell</a>
        </p>
        <AnimatedGlowingBorder />
        <AnimatedGlowingBorder />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    display: grid;
    place-content: center;
    gap: 2rem;
    min-height: 100vh;
    background-image: conic-gradient(
      at 125% 50%,
      #b78cf7,
      #ff7c94,
      #ffcf0d,
      #ff7c94,
      #b78cf7
    );
    font-family: system-ui;
    margin: 0;
  }
</style>
