---
import CarCard from "../components/cards/CarCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <CarCard title="Sedans" buttonText="Learn More">Test</CarCard>
    <CarCard title="Suvs" buttonText="Learn More">Test</CarCard>
    <CarCard title="Luxury" buttonText="Learn More">Test</CarCard>
  </body>
</html>
