!---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Grid Animation Test</title>
  </head>
  <body>
    <div class="container">
      <div class="grid">
        test
      </div>
    </div>
  </body>
</html>

<style>
  div {
    border: 1px solid blue;
  }

  .grid {
    display: grid;
  }
</style>