---
import LogicalProperties from "../components/heros/LogicalProperties.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hero Components</title>
  </head>
  <body>
    <LogicalProperties />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore
      impedit, ut, nemo cupiditate magnam animi atque maiores dignissimos iste
      cumque, deleniti beatae voluptas vel corrupti. Voluptatum distinctio
      fugiat aliquam!
    </p>
  </body>
</html>
