---
import LogicalProperties from "../components/heros/LogicalProperties.astro";
import MarketingCTA from "../components/heros/MarketingCTA.astro";
import TextOverlay from "../components/heros/TextOverlay.astro";
import TwoColumnCopy from "../components/heros/TwoColumnCopy.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hero Components</title>
  </head>
  <body>
    <!-- <LogicalProperties /> -->
    <MarketingCTA />
    <TextOverlay />
    <TwoColumnCopy />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore
      impedit, ut, nemo cupiditate magnam animi atque maiores dignissimos iste
      cumque, deleniti beatae voluptas vel corrupti. Voluptatum distinctio
      fugiat aliquam!
    </p>
  </body>
</html>

<style>
  body {
    margin: 0;
  }

  h1,
  h2 {
    font-weight: 500;
    margin: 0 0 1rem;
  }

  h1 {
    font-size: 3rem;
    color: #3c87b3;
  }

  h2 {
    color: #2ba27c;
  }

  header p {
    font-size: 1.75rem;
    font-size: clamp(1.3rem, 4vw, 1.75rem);
    margin-bottom: 0;
    max-width: 30ch;
  }
</style>
